<!DOCTYPE html>
<html lang="en">
<!--
Copyright 2012 Gary R. Van Sickle (grvs@users.sourceforge.net).

This file is part of CoFlo.

CoFlo is free software: you can redistribute it and/or modify it under the
terms of version 3 of the GNU General Public License as published by the Free
Software Foundation.

CoFlo is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE.  See the GNU General Public License for more details.
 
You should have received a copy of the GNU General Public License along with
CoFlo.  If not, see http://www.gnu.org/licenses/.
-->
<head>
	<meta charset="utf-8">

	<title>Insert title here</title>

	<link rel="stylesheet" type="text/css" href="css/smoothness/jquery-ui-1.8.24.custom.css">
	<style>
	#resizable { width: 150px; height: 150px; padding: 0.5em; }
	#resizable h3 { text-align: center; margin: 0; }
	.svg-cfg { display:block; /*max-width:50%;*/ }
	
	/*.ui-tabs .ui-tabs-hide {
    position: absolute;
    left: -10000px;
	}*/
	</style>
	
	<script src="js/jquery-1.8.0.min.js"></script>
	<script src="js/jquery-ui-1.8.24.custom.min.js"></script>
	<script src="js/coflo.resizer.js"></script>
	<script>
	function onTabsShow(event, ui)
	{
		// Get the svg for this tab.
		var svg = $(ui.panel).find(".svg-cfg");
		
		// Fit it to its container.
		fitToContainer(svg, ui.panel /*".svg-cfg"*/);
		//$( "#cfdebugout" ).text("ui.panel.id=" + ui.panel.id);
	}
	$(function() {
		$( "#tabs" ).tabs().bind('tabsshow', onTabsShow);
		/*
		$( "#tabs" ).bind('tabsshow', function(event, ui) {
			if(true)
			{
				fitToContainer(".svg-cfg");
				$( "#cfdebugout" ).text("1234");
			}
		});
		*/

		/*
		$( ".svg-cfg" ).resizable({
			containment: "parent",
			maxWidth: 200
		});
		
		$( ".svg-cfg" ).resizable({
			maxWidth: 100
		});
		*/
		/*
		$( "#resizable" ).resizable({
			aspectRatio: true;
			containment: "parent";
		});
		
		$( "#svg1" ).resizable({
			aspectRatio: true;
			containment: "#resizable";
		});
		
		
		
		$( "#cfdebugout" ).html("12345");
		*/
		$( "#cfdebugbutton" ).click(function(){
			$( "#cfdebugout" ).html( "aaa" );
			/* $(".svg-cfg").width("100%"); */
			fitToContainer(".svg-cfg");
		});
	});
	/*
	$(window).resize(function()
	{
		fitToContainer(".svg-cfg");
	});*/
	</script>
</head>

<body>

<div>
<p>Debug info:</p>
<p id="cfdebugout">xxxx</p>
<button id="cfdebugbutton">Debug Button</button>
</div>

<div id="resizable" class="ui-widget-content">
	<h3 class="ui-widget-header">Test</h3>
	<object id="svg1" class="svg-cfg" type="image/svg+xml" data="decode_switches.svg"></object>
</div>

<div id="tabs" class="ui-tabs">
	<ul>
		<li><a href="#tabs-1">decode_switches()</a></li>
		<li><a href="#tabs-2">die()</a></li>
		<li><a href="#tabs-3">Aenean lacinia</a></li>
	</ul>
	<div id="tabs-1">
		<p>Paragraph</p>
		<object class="svg-cfg" type="image/svg+xml" data="decode_switches.svg"></object>
	</div>
	<div id="tabs-2">
		<p>die()</p>
		<object class="svg-cfg" type="image/svg+xml" data="die.svg"></object>
	</div>
	<div id="tabs-3">
		<p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
		<object class="svg-cfg" type="image/svg+xml" data="die.svg"></object>
	</div>
</div>

</body>
</html>
